/* style.css */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Ubuntu:wght@300;400;500;700&display=swap");

/* --- Import Components stylesheets --- */
@import url("components/button.css");
@import url("components/dropdown.css");
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/navbar.css");
@import url("components/cards.css");
@import url("components/alerts.css");
@import url("components/forms.css");
@import url("components/tags.css");
@import url("components/text-colors.css");
@import url("components/spacing.css");
@import url("components/flex.css");
@import url("components/burger.css");

/* Default colors */

:root {
  --primary: #0d6efd;
  --primary_bis: #0b5ed7;
  --secondary: #6c757d;
  --secondary_bis: #5c636a;
  --success: #198754;
  --success_bis: #157347;
  --danger: #dc3545;
  --danger_bis: #bb2d3b;
  --warning: #ffc107;
  --warning_bis: #ffca2c;
  --info: #0dcaf0;
  --info_bis: #31d2f2;
  --light: #f8f9fa;
  --light_bis: #f8f9fa;
  --dark: #212529;
  --dark_bis: #212529;
}

/* Default style */
* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
