.btn {
  padding: 10px 16px;
  border-radius: 7px;
  text-align: center;
  font-size: 1em;
}

.btn-full-width {
  width: 100%; 
}

.btn-primary {
  color: var(--light);
  text-decoration: none;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  transition: 0.25s;
}

.btn-primary:hover {
  background-color: var(--primary_bis);
  transition: 0.25s;
  cursor: pointer;
}

.btn-secondary {
  color: var(--light);
  text-decoration: none;
  background-color:  var(--secondary);
  border: 1px solid var(--secondary);
  transition: 0.25s;
}

.btn-secondary:hover {
  background-color:  var(--secondary_bis);
  transition: 0.25s;
  cursor: pointer;
}

.btn-success {
  color: var(--light);
  text-decoration: none;
  background-color: var(--success);
  border: 1px solid var(--success);
  transition: 0.25s;
}

.btn-success:hover {
  background-color: var(--success_bis);
  transition: 0.25s;
  cursor: pointer;
}

.btn-danger {
  color: var(--light);
  text-decoration: none;
  background-color: var(--danger);
  border: 1px solid var(--danger);
  transition: 0.25s;
}

.btn-danger:hover {
  background-color: var(--danger_bis);
  transition: 0.25s;
  cursor: pointer;
}

.btn-warning {
  color: var(--dark);
  text-decoration: none;
  background-color: var(--warning);
  border: 1px solid var(--warning);
  transition: 0.25s;
}

.btn-warning:hover {
  background-color: var(--warning_bis);
  transition: 0.25s;
  cursor: pointer;
}

.btn-info {
  color: var(--dark);
  text-decoration: none;
  background-color: var(--info);
  border: 1px solid var(--info);
  transition: 0.25s;
}

.btn-info:hover {
  background-color: var(--info_bis);
  transition: 0.25s;
  cursor: pointer;
}

.btn-light {
  color: var(--dark);
  text-decoration: none;
  background-color: var(--light);
  border: 1px solid var(--light);
  transition: 0.25s;
}

.btn-light:hover {
  background-color: var(--light_bis);
  transition: 0.25s;
  cursor: pointer;
}

.btn-dark {
  color: var(--light);
  text-decoration: none;
  background-color: var(--dark);
  border: 1px solid var(--dark);
  transition: 0.25s;
}

.btn-dark:hover {
  background-color: var(--dark_bis);
  transition: 0.25s;
  cursor: pointer;
}

.btn-burger-light {
  background-color: var(--dark);
  border: solid 0px;
  padding: 0px;
}
.btn-burger-dark {
  background-color: var(--light);
  border: solid 0px;
  padding: 0px;
}
