.forms-container {
  width: fit-content;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  box-shadow: 5px 5px 5px;
}

.forms-light {
  background-color: var(--light);
  border: 1px solid var(--secondary);
}
.forms-light h2 {
  color: var(--dark);
}

.forms-light label {
  color: var(--dark);
}

.forms-light em {
  color: var(--dark);
}

.forms-dark {
  background-color: var(--dark);
  border: 1px solid var(--secondary);
}

.forms-dark h2 {
  color: var(--light);
}

.forms-dark label {
  color: var(--light);
}

.forms-dark em {
  color: var(--light);
}

.forms-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.forms-element input {
  padding: 5px;
  border: 1px solid #6c757d;
  box-shadow: none;
  background-color: var(--light);
  outline: none;
  border-radius: 7px;
}
.forms-element input:focus {
   border: 3px solid var(--info);
   box-shadow: none;
   outline: none;
}

.forms-submit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.forms-links {
  margin-top: 15px;
  text-align: center;
}
.forms-links a {
  color: var(--info);
  text-decoration: none;
}
