.navbar-container {
  height: 64px;
  width: auto;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.nb-light {
  background-color: var(--light);
  color: var(--secondary);
}

.nb-dark {
  background-color: var(--dark);
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 60px;
}

