.navbar-container {
  height: 64px;
  width: auto;
  padding: 0px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-left {
  display: flex;
  align-items: center;
}
.nb-light {
  background-color: #f8f9fa;
  color: #6c757d;
}

.nb-dark {
  background-color: #212529;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .container {
  padding-top: 60px;
}

