.text-color-primary {
  color: var(--primary);
}
.text-color-secondary {
  color: var(--secondary);
}
.text-color-success {
  color: var(--success);
}
.text-color-danger {
  color: var(--danger);
}
.text-color-warning {
  color: var(--warning);
}
.text-color-info {
  color: var(--info);
}
.text-color-light {
  color: var(--light);
}
.text-color-dark {
  color: var(--dark);
}
